
.container {
    width: 90%;
   
}

.form-container {

width: 100%;
margin: 0 auto;
}



.form-submit {
    
    margin-bottom: 15px;
  
}

.banner-item {
    width: 30%;
}
.banner-item .classimg {
    width: 100px;
    height: 100px;
}
.top-title  {
    margin-top: 40px;
}
.form-submit {
    width: 55% !important;
}